<!DOCTYPE html>
<html lang="en">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/climaStyle.css">
    <script src="../assets/js/climaScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/externos/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/contactanos.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La buena noticia</title>
    <script language='javascript'>
        function desplaza1(el_left, el_top) {
            left_ahora = parseInt(document.getElementById('capa1').style.left);
            top_ahora = parseInt(document.getElementById('capa1').style.top);
            document.getElementById('capa1').style.left = (left_ahora + el_left) + 'px';
            document.getElementById('capa1').style.top = (top_ahora + el_top) + 'px';

            document.f1.coords.value = (left_ahora + el_left) + 'x' + (top_ahora + el_top);
        }
    </script>
    <style type='text/css'>
        input.ejemplo {
            text-align: left;
            font-size: 16px;
            font-family: Courier;
            background-color: #ccddff;
            color: blueViolet;
        }
    </style>

</head>

<body>
    <!-- Navbar -->
<nav style="position: fixed; width:98.8vw;z-index:100;" class="navbar navbar-expand-custom navbar-mainbg">
    <a style="font-size: 20px;" class="navbar-brand navbar-logo" href="./index.html">La buena noticia</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" onClick="location.href='index.html'" href="javascript:void(0);"><i class="fas fa-tachometer-alt"></i>Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onClick="location.href='deportes.html'" href="javascript:void(0);"><i class="far fa-address-book"></i>Deportes</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" onClick="location.href='ultimaHora.html'" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Última hora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onClick="location.href='publicidad.html'" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Publicidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onClick="location.href='contactanos.html'" href="javascript:void(0);"><i class="far fa-copy"></i>Contacto</a>
            </li>
        </ul>
    </div>
</nav>
<div style="height: 70px;"></div>
    <section class="last-news">
        <h1 class="title-lastNews">LA BUENA NOTICIA</h1>
        <section class="time">
            <script src="../assets/js/functionTime.js"></script>
            <script>
                document.write('La fecha de hoy es:' + retornarFecha());
                document.write('<br>');
                document.write('La hora es:' + retornarHora());
            </script>

            <section class="world">
                <div id='capa1' style='position:absolute;left:200px;top:50px'>
                    <img src='https://c.tenor.com/TWY96t0sU3gAAAAC/breaking-news.gif'>
                </div>
            </section>

            <section class="wheater">
                <!-- weather widget start --><a target="_blank" href="https://hotelmix.es/weather/la-paz-13481"><img
                        src="https://w.bookcdn.com/weather/picture/1_13481_1_4_137AE9_160_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=28321"
                        alt="booked.net" /></a><!-- weather widget end -->
            </section>
        </section>

    </section>






    
      <section class="top-banner">
        <div class="container">
          <h1 class="heading">Simple Weather App</h1>
          <form>
            <input type="text" placeholder="Search for a city" autofocus>
            <button type="submit">SUBMIT</button>
            <span class="msg"></span>
          </form>
        </div>
      </section>
      <section class="ajax-section">
        <div class="container">
          <ul class="cities"></ul>
        </div>
      </section>
      
      <section class="cards">
        <section class="card1">
            <h1 class="title1">NOTICIA 1</h1>

        </section>

        <section class="card2">
            <h1 class="title2">NOTICIA 2</h1>

        </section>

        <section class="card3">
            <h1 class="title3">NOTICIA 3</h1>

        </section>

        <section class="card4">
            <h1 class="title4">NOTICIA 4</h1>

        </section>

        <section class="card5">
            <h1 class="title5">NOTICIA 5</h1>

        </section>

    </section>
    <script src="../assets/js/contactanos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>    
</body>

</html>