<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>


    <body id="fondo">
        <!-- Aqui va el nav -->

        <h1 class="text-center">
            NOTICIAS DE ULTIMA HORA
        </h1>

        <div class="text-center">
            <button class="btn btn-outline-success btn-lg" onclick="cambiarColor()">Fiesta</button>
        </div>
        

        <div class="container-fluid">
            <div class="row row-cols-2 text-center">
                <div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji1" class="emoji1 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 2</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji2" class="emoji2 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 3</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji3" id="emoji2" class="emoji3 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 4</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji4" class="emoji4 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 5</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji5" class="emoji5 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div><div class="col">
                    <div class="card mt-3" style="width: 30rem;">
                        <img src="../assets/images/foto1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Noticia 6</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe at numquam eum eaque soluta autem amet aperiam a rerum, quaerat earum minima consequuntur voluptatum. A ex laudantium quibusdam quasi.</p>
                            <p id="emoji6" class="emoji6 card-text">😀😄💢🥰😥</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


        <script src="../assets/js/ultimaHora.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>
